!!!
%html
  %head
    %link{:rel => 'stylesheet', :href => 'css/bootstrap.css'}
    %script{:src => 'javascripts/zepto.js'}
    -#%script{:src => 'javascripts/bootstrap.js'}
    %script{:src => 'javascripts/underscore.js'}
    %script{:src => 'javascripts/backbone.js'}
  %body
    %script#edit_invoice{:type => 'text/html'}
      .modal
        .modal-header
          %h3 New Invoice
        .modal-body
          %label{:for => 'date'} Invoice Date
          %input{:type => 'text', :name => 'date', :value => '<%= date %>'}
          %label{:for => 'number'} Invoice Number
          %input{:type => 'text', :name => 'number', value: '<%= number %>'}
          %table.table
            %thead
              %tr
                %th Description
                %th Quantity
                %th Unit Price
                %th Line Price
            %tbody#line_items
        .modal-footer
          %a{:
    %script{:src => 'voici.js'}
